#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.decks {
  display: flex;
  justify-content: center;
  gap: 10px;
  color: black;
}
.blur {
  filter: blur(2px);
}

.card , .decks li{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 200px;
  border: 1px solid white;
  background: white;
  border-radius: 10px;
  -webkit-box-shadow: 5px 5px 15px -4px #000;
  list-style: none;
  box-shadow: 5px 5px 15px -4px #000;
  cursor: pointer;
}

.card {
  flex-direction: column
}
.cardform {
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
  border: 1px solid red;
  background-color: #242424;
  padding: 100px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 32px black;
  gap: 10px;
}
.closePopup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
  border: 1px solid black;
  border-radius: 100%;
  cursor: pointer;
  background-color: black;
}
.Header{
  height: 15vh;
}

.show {
  display: none;
}
#deletebutton {

  margin: auto;
}

.card button {
  position:absolute;
  top: 0;
  right: 0;
}

.hidedef {
  display: none;
}

.card:hover .hidedef , .card:hover .hideedit{
  display: block;
}

.hideedit {
  display: none;
  position: absolute;
  botton: 0;
}